body {
    font-family: Roboto;
    
}

nav {
    background: #282323;
}

h1 {
    font-family: Roboto;
    font-size: 72px;
    font-weight: 900;
    line-height: 84px;
    letter-spacing: 0.1em;

}

h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.1em;
    text-align: left;
    font-size: 64px;
    height: 75px;

}

.gallery {
    margin-bottom: 100px;
}
.logo {
    max-width: 100px;
}

.image {
    height: 782px;
}
.name {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}
p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.btn {
    padding: 18px 30px;
    border-radius: 50px;
    margin: 10px;
}

.hero {
    margin: 35px 0 100px;
}

.row {
    margin: 25px 0.5px 50px;
}

.pink {
    color: #e84e7b;
}


.abt-socials {
    display: flex;
    justify-content: left;
    padding: 40px 20px;
    margin-right: 20px;
    
} 

i.fa-brands {
    padding: 0 10px;
}

.abt-btn {
    padding: 0 10px;
}

.abt-button {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 10px 14px;
    border-radius: 50px;
    margin: 40px 0 30px;
    width: 150px;
    text-align: center;
    font-size: 14px;
}

.abt-button a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    font-family: Montserrat;
}

.col {
    padding: 0 10px;
}

.contact-footer {
    background: #282323; 
    height: 80px;
    margin-bottom: 20px;
}

div.contact {
    margin: 20px 0 0 25px;
    padding-top: 20px;
}

.link {
    text-decoration: none;
    color: #dee2e6;
}
.link:hover {
    color:#e84e7b;
    font-size: 20px;
}

.fa-brands {
    color: #dee2e6;
}

.fa-brands:hover {
    color: #000;
    font-size: 30px;
    
}

@media (max-width: 768px) {
    .name {
    font-size: 18px;
    font-weight: 350px;
    padding-top: 70px;

}
h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0.1em;

}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


.heroimg {
    height: max-content
}

.pink {
    font-size: 25px;
}

}

@media (max-width: 572px){
.name {
    padding: 80px 0 0;
}
.btn {
    
    padding: 13px 17px;
    border-radius: 50px;
    margin:22px 32px;
}

.hero {
    margin: 35px 0 70px;
}

.image {
    height: 300px;
}

div.copy {
    font-size: small;
}
}
